@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

@layer base {
  :root {
    --custom-outline-color: theme(colors.accent.200);

    :focus-visible {
      outline: solid 1px var(--custom-outline-color);
    }

    &[data-theme='light'] {
      --custom-outline-color: theme(colors.accent.600);
    }
  }
}
